*{
    font-family: sans-serif;
}
.section1 {
    background-color: #e6dace;
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .section1-box1 {
    width: 724px;
    height: 200px;
}

#mainheaading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bluebox {
    width: 20px;
    height: 20px;
    background-color: #0050ff;
    margin: 0px 20px;
}

#secondmainheading {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projects{
    font-weight: bolder;
    font-size: 35px;
}

.section1-box2 {
    background-color: white;
    width: 730px;
    height: 354px;
    margin: 40px 0px;
    display: flex;
}

.div-one{
    width: 50%;
    height: 294px;
    margin: 30px;
}

.div-two{
    width: 50%;
    height: 100%;
}
.div-0{
    background-color: #0050ff;
    width: 10px;
    height: 50px;
    position: relative;
    bottom: 45px;
    left: -30px;
    display: block;
}

.section1-box2 h2{
    margin: 0px 0px;
    font-size: 20px;
    color: #0050ff;
    font-weight: bolder;
}

.section1-box2 .Role{
    margin: 0px 0px;
}

.project-image{
    width: 335px;
    height: 354px;
    overflow: scroll;
}

/* Start Footer  */
.footer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutid {
    margin: 0px 40px;
}

footer li {
    list-style: none;
}

#footer-icon {
    display: flex;
}

footer img {
    margin: 0px 10px 0px 0px;
}

footer span {
    font-weight: bolder;
}

.space {
    margin: 10px 0px;
}

/* End Footer  */